<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Page</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Image Download Page</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
        
            {% for entry in form.enteries %}
              <div>
                {{ entry.imageName.label }} {{ entry.imageName() }}
                {{ entry.submit() }} {{ entry.submit.label }}
              </div>
            {% endfor %}
        
            {{ form.submit() }}
        
          </form>
    </div>
</body>
</html>